{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>

{{ media }}
    <style>
    #news_form > div > fieldset > div.form-row.field-content > div > div > div.ck.ck-editor__main > div{
        height: 300px;
    }
    #news_form > div > fieldset > div.form-row.field-content > div > div > div.ck.ck-editor__top.ck-reset_all,
    #news_form > div > fieldset > div.form-row.field-content > div > div > div.ck.ck-editor__top.ck-reset_all > div > div.ck.ck-sticky-panel__content > div > div{
        height: 50px;
        margin-bottom: 50px;
    }
    div.help{
        margin-left: 0!important;
    }
    </style>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {% change_form_object_tools %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}{% if form_url %}action="{{ form_url }}" {% endif %}method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1">{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}">{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}
            async>
    </script>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{#<script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>#}
<script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/decoupled-document/ckeditor.js"></script>
<script>
    {% comment %}
    ClassicEditor
            .create( document.querySelector( 'textarea' )
                , {
                fontSize: {
                    options: [
                        'tiny',
                        'default',
                        'big'
                    ]
                },
                toolbar: ['heading', '|', 'bold', 'italic', 'link','bulletedList',
                    'numberedList', 'fontFamily','fontSize', 'undo', 'redo', 'blockQuote'],
                fontFamily: {
                    options: [
                        'default',
                        'Roboto','Lucida Grande','DejaVu Sans',
                        'Bitstream Vera Sans','Verdana','Arial','sans-serif'
                    ]
                },
                heading: {
                    options: [
                        {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                        {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                        {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'},
                        {model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3'}
                    ]
                }
            }
          )
            .catch( error => {
                console.error( error );
                Array.from( editor.ui.componentFactory.names())
            } );
    {% endcomment %}
    $('label').css({width:'100%',
                    marginBottom:'10px'})

    $('select').css({
        width: '300px'
    })
    $('textarea').hide()
    $('textarea').parent().append(`
    <div id="toolbar-container"></div>
    <div id="editor" style="border: dimgrey solid 1px;min-height: 300px">
    </div>
    `)
    DecoupledEditor
        .create( document.querySelector( '#editor' ) )
        .then( editor => {
            const toolbarContainer = document.querySelector( '#toolbar-container' );

            toolbarContainer.appendChild( editor.ui.view.toolbar.element );
        } )
        .catch( error => {
            console.error( error );
        } );
    $('#editor').html($('textarea').val())
    $('#editor').bind('DOMSubtreeModified', function(){
        $('textarea').val($('#editor').html())
    })
    $('div.help').html(`<p>Hold down “Control”, or “Command” on a Mac, to select more than one.</p>
                        <p>Hold down "Control", or “Command” on a Mac, and click again on the selected object to cancel the selection.<p/>`)
    $('#id_other_category option[value="'+$('#id_main_category').val()+'"]').hide()
    $('#id_main_category').on('change',function () {
        $('#id_other_category option').show()
        $('#id_other_category option[value="'+$('#id_main_category').val()+'"]').hide()
    })
</script>
{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
