<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .category {
            height: 150px;
            vertical-align: middle;
        }

        .jumbotron {
            padding: 0;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home-page' %}">Home</a></li>
                <li class="active"><a href="{% url 'news-page' %}">News</a></li>
                <li><a href="{% url 'categories-page' %}">Categories</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/"><span class="glyphicon glyphicon-user"></span>Login By Admin</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-sm-8 text-left">
            <h1>{{ news.title }}</h1>
            <hr>
            <p>{{ news.content | safe }}</p>
            <hr>
            <p>{{ news.created_date }}</p>
        </div>
    </div>
</div>
<br>
<div class="container-fluid bg-3 text-center">
    <div class="row">
        <p align="left" >Main category</p>
        <a href="{% url 'view-by-category' category=news.main_category.id %}" style="all:unset;cursor: pointer">
            <div class="col-sm-3 btn btn-primary category">
                <h3>{{ news.main_category.category_name }}</h3>
            </div>
        </a>
    </div>
    <br>
    <div class="row">
        <p align="left">Similar categories</p>
        {% for item in news.other_category.all %}
            {% if news.main_category.pk != item.id %}
            <a href="{% url 'view-by-category' category=item.id %}" style="all:unset;cursor: pointer">
                <div class="col-sm-3 btn btn-info category">
                    <h3>{{ item.category_name }}</h3>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Test Task Copyright</p>
</footer>

</body>
</html>